{% extends "core/base.html" %}
{% load bootstrap3 %}
{% bootstrap_javascript jquery=1 %}

{% block body %}
  <div class="container" style = "margin:5%">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h2><strong> Login </strong> </h2>
      <div style="margin: 10px 0" class="well" >
      <form style="margin-bottom:20px" action="/login/" role="form" method="post">
    	  {% csrf_token %}
    	  {% bootstrap_form form %}
    	  <div class="pull-right" style="margin-top: 40px">
    	    {% buttons submit='Log in' %}{% endbuttons %}
    	  </div>
    	</form>
    	</div>
    	{% if state.0 %}
    	  <div class="alert-success" style="padding:10px; margin-top:70px;">{{ state.1 }}</div>
    	{% elif state.1 %}
    	  <div class="alert-danger" style="padding:10px; margin-top:70px;">{{ state.1 }}</div>
    	{% endif %}
    </div>
    <div class="col-sm-3"></div>
  </div>
	</div>
{% endblock %}
