<!DOCTYPE html>
{% load bootstrap3 %}

 <head>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <meta charset="UTF-8">
  <title>{% block title %}Real Estate{% endblock %}</title>

  <meta name="author" content="Portland State University Capstone Spring 2015 Team G">
  <meta name="description" content="Real Estate Decisions">
  <meta name="keywords" content="realestate">
  {% bootstrap_css %}

  {% block style %}
  {% endblock %}
 </head>

 <body>
   <a href={% url "admin:index" %}>Admin</a>
   {% block body %}
   {% endblock %}

   {% block scripts %}
   {% endblock %}
 </body>
</html>
