{% load bootstrap3 %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <meta charset="UTF-8">
    <title>{% block title %}Real Estate{% endblock %}</title>
    <meta name="author" content="Portland State University Capstone Spring 2015 Team G">
    <meta name="description" content="Real Estate Decisions">
    <meta name="keywords" content="realestate">
    <link href={% static "core/css/login.css" %} rel="stylesheet" type="text/css" />
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />

    {% block style %}
    {% endblock %}
  </head>

  <body>
    {% with authenticated=user.is_authenticated %}
      <div id="main-content">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                      data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'home' %}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span> Real Estate App
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              {% if authenticated %}
                <ul class="nav navbar-nav">
                  <li>
                    <a href="{% url 'categories' %}">
                      <span class="glyphicon glyphicon-equalizer"> Categories</span>
                    </a>
                  </li>
                  {% if user.is_staff %}
                    <li>
                      <a href={% url "admin:index" %}>
                        <span class="glyphicon glyphicon-king"> Admin</span>
                      </a>
                    </li>
                  {% endif %}
                </ul>
              {% endif %}
              <ul class="nav navbar-nav navbar-right">
                {% if authenticated %}
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                       {{ user.get_full_name|default:"User"}} ({{user.email}})
                       <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="{% url 'password_change' %}"> Change Password</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="{% url 'auth_logout' %}"> Logout</a></li>
                    </ul>
                  </li>
                {% else %}
                  <!--li><a href="{% url 'auth_login' %}"> Log In</a></li-->
                  <li><a href="#" data-toggle="modal" data-target="#modal-login"> Log In</a></li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="container">
          {% block body %}
          {% endblock %}
        </div>
      </div>

      {% if not authenticated %}
        <div id="modal-login" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Login</h2>
              </div>
              <form id="login-form" action="" role="form" method="post">
                <div id="login-feedback" style="margin: 10px; text-align: center;"></div>
                <div class="modal-body">
                  {% bootstrap_form login_form %}
                  {% csrf_token %}
                </div>
                <div class="modal-footer">
                  <div class="input-group pull-right">
                    <img id="login-loading" src={% static "core/images/loading.gif" %} />
                    <span>
                      <button id="login-button" class="btn btn-primary" type="submit">
                        Login
                      </button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      {% endif %}

      {% bootstrap_javascript jquery=1 %}
      {% if not authenticated %}
        <script src="{% static "core/js/login.js" %}"></script>
      {% endif %}

      {% block scripts %}
      {% endblock %}
    {% endwith %}
  </body>
</html>
