<!DOCTYPE html>
{% load bootstrap3 %}
{% bootstrap_javascript jquery=1 %}

 <head>
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  <meta charset="UTF-8">
  <title>{% block title %}Real Estate{% endblock %}</title>

  <meta name="author" content="Portland State University Capstone Spring 2015 Team G">
  <meta name="description" content="Real Estate Decisions">
  <meta name="keywords" content="realestate">
  {% bootstrap_css %}

  {% block style %}
  {% endblock %}
 </head>

 <body>
   <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Real Estate App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href={% url "admin:index" %}>Admin</a></li>
        {% block navbarright %}
        {% endblock %}
        {% if user.is_authenticated %}
          <li><a href="{% url 'auth_logout' %}?next={% url 'home' %}"> Logout</a>
        {% else %}
          <li><a href="{% url 'auth_login' %}"> Log In</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
   {% block body %}
   {% endblock %}

   {% block scripts %}
   {% endblock %}
 </body>
</html>
