{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "slide.css" %}">
<style>
ul.list-group {
	padding-top:30px;
}
#heading {
	padding-bottom: 20px;
}
.alert-success {
	margin-top: 30px;
}
.icon-edit {
	display: none;
	font-size: 80%;
	color: #888;
	padding-left: 20px;
	cursor: pointer;
}
.icon-ok {
	display: none;
	font-size: 80%;
	color: green;
	padding-left: 20px;
}
.inner-rating {
	padding:20px 0;
}
.slider-selection {
	background: #BABABA;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
	margin-left:-3px;
}
</style>
<script>var catID;</script>
{% endblock %}

{% block body %}
{% csrf_token %}
<div id="heading">
	<h2><strong>Categories</strong> </h2>
	<h4>How important are the categories below when choosing a home?</h4>
</div>
<p id="save-status" class="pull-right"></p>
<ul class="list-group">
	{% for category, weight in weights %}
	    {{weight.category}}
		<li class="list-group-item">
			<div id="row_{{category.id}}" class="row category_row ">
				<div class="col-md-4 vcenter">
					<h4>{{category.summary}}
					    <span data-toggle="modal" data-target="#editCategory" id='edit_{{category.id}}' class='glyphicon glyphicon-edit icon-edit'></span>
						<span id='update_{{category.id}}' class='glyphicon glyphicon-ok icon-ok'></span>
					</h4>
					{% if category.description %}
						<p>
							{{ category.description }}
						</p>
					{% endif %}
				</div>
				<div class="col-md-8 vcenter rating">
					<div class="inner-rating" style="padding-left:10%" >
						<center>
							<span class="help-text" style="text-size:60%; padding-right: 20px">{{min_choice}}</span>
							<input id="category_{{category.id}}" class='slide' data-slider-id='slide' type="text" data-slider-min={{min_weight}} data-slider-max={{max_weight}} data-slider-step="1" data-slider-value="{% if not weight %}{{default_weight}}{% else %}{{ weight }}{% endif %}"/>
							<span class="help-text" style="text-size:60%; padding-left: 20px">{{max_choice}}</span>
						</center>
					</div>
				</div>
			</div>
		</li>
	{% endfor %}
</ul>
<center>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategory" style="margin:30px">Add Category</button>
</center>

<div id="addCategory" class="modal fade" role="dialog" style="height:auto">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Add a category!</h4>
        </div>
        <div class="modal-body">
        <form action="" role="form" method="post">
        	{% bootstrap_form form%}
        	{% csrf_token %}
        	<div style="margin-top: 40px">
        		<center>
        			{% buttons submit='Save Evaluation' %}{% endbuttons %}
        			{% bootstrap_messages %}
        		</center>
        	</div>
        </form>
        </div>
    </div>
  </div>
</div>

<div id="editCategory" class="modal fade" role="dialog" style="height:auto">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Edit your category!</h4>
        </div>
        <div class="modal-body">
        <form action="" role="form" method="post">
        	{% bootstrap_form editForm%}
        	{% csrf_token %}
        	<div style="margin-top: 40px">
        		<center>
        			{% buttons submit='Save Evaluation' %}{% endbuttons %}
        			{% bootstrap_messages %}
        		</center>
        	</div>
        </form>
        </div>
    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "slide.js" %}"></script>
<script src="{% static "debounce.js" %}"></script>
<script>
var jsWeights = {{js_weight|safe}}
$(".slide").slider({
	formatter: function(value) {
          return jsWeights[value] || "";
	}
});
$(".slide").change($.debounce( 700, slideChange ));
function slideChange (slideEvt) {
	var timer;
	clearTimeout(timer);
	function showStatus() {
		$("#update_"+categoryID).stop().show();
		$("#update_"+categoryID).fadeOut(2000);
		$("#save-status").text("All changes saved.").show().css("color", "#333");
	}
	var categoryID = $(this).attr("id").toString().replace(/category_/i, "");
	$("#save-status").text("saving...").css("color", "#888");
	$.ajax({
		type: "POST",
		data: {
			csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
			category: categoryID,
			weight: slideEvt.value.newValue
		},
		success: function(data) {
			timer = setTimeout(showStatus, 1500);
		},
		error: function(xhr, textStatus, errorThrown) {
			// Do nothing for now.
		}
	});
};
function editCategoryAjax() {
    $.ajax({
		type: "GET",
		data: {
			csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
			category: catID
		},
		success: function(data) {
			$('input[name="summary"]').val(data.summary);
			$('input[name="description"]').val(data.description);
		},
		error: function(xhr, textStatus, errorThrown) {
			// Do nothing for now.
		}
	});
  }
$(".category_row").mouseenter( function() {
  catID = $(this).attr("id").toString().replace(/row_/i, "");
  $("#edit_"+catID).show(function(){
      //   $("#edit_"+catID).click( $.debounce(300, editCategoryAjax ))
      $('input[name="summary"]').val("data.summary");
	  $('input[name="description"]').val("data.description");
	  $('input[name="catID"]').val(catID);
  });
}).mouseleave( function() {
  var id = $(this).attr("id").toString().replace(/row_/i, "");
  $("#edit_"+id).fadeOut("slow");
});
$(window).on("resize", function () {
	var divWidth = $(".row").width();
	if(divWidth < 570){
		$(".rating").css("width", "90%");
		$(".help-text").hide();
	}
	else if(divWidth < 730){
		$(".help-text").show();
		$(".rating").css("width", "90%");
	}
	else{
		$(".help-text").show();
		$(".rating").css("width", "60%").css("margin", "0 auto");
	}
}).resize();
</script>
{% endblock %}