{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "slide.css" %}">
<style>
ul.list-group { padding-top:30px; }
#heading { padding-bottom: 20px; }
.rating-col { min-width: 500px; }
.summary-col{ min-width: 150px; }
.alert-success { margin-top: 30px; }
.tooltip-main.top.in { z-index:1 !important; }
.close { z-index: 3000 !important; }
.inner-rating { padding:20px 0; }
.slider-selection { background: #BABABA; }
.icon-edit {
    display: none;
    font-size: 90%;
    color: #31708f;
    padding-left: 20px;
    cursor: pointer;
}
.icon-ok {
    display: none;
    font-size: 90%;
    color: green;
    padding-left: 20px;
}
.icon-delete {
    display: none;
    font-size: 90%;
    color: #A94431;
    padding-left: 20px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-left:-3px;
}
</style>
{% endblock %}

{% block body %}
{% csrf_token %}
<div id="heading">
	<h2><strong>Categories</strong> </h2>
	<h4>How important are the categories below when choosing a home?</h4>
</div>
<p id="save-status" class="pull-right"></p>

<!-- Category List -->
<ul class="list-group">
	{% for category, weight in weights %}
	    {{weight.category}}
		<li class="list-group-item" id="li_{{category.id}}">
			<div id="row_{{category.id}}" class="row category_row ">

			    <!-- Category Summary -->
				<div class="col-md-4 vcenter summary-col">
					<h4>{{category.summary}}
					    <span data-toggle="modal" data-target="#editCategory" id='edit_{{category.id}}' class='glyphicon glyphicon-pencil icon-edit'></span>
					    <span data-toggle="modal" data-target="#confirmDelete" id='delete_{{category.id}}' class='glyphicon glyphicon-remove icon-delete'></span>
						<span id='update_{{category.id}}' class='glyphicon glyphicon-ok icon-ok'></span>
					</h4>
					{% if category.description %}
						<p>{{ category.description }}</p>
					{% endif %}
				</div>

				<!-- Category Weighting -->
				<div class="col-md-7 vcenter rating rating-col">
					<div class="inner-rating" style="padding-left:10%" >
						<center>
							<span class="help-text" style="text-size:60%; padding-right: 20px">{{min_choice}}</span>
							<input id="category_{{category.id}}" class='slide' data-slider-id='slide' type="text" data-slider-min={{min_weight}} data-slider-max={{max_weight}} data-slider-step="1" data-slider-value="{% if not weight %}{{default_weight}}{% else %}{{ weight }}{% endif %}"/>
							<span class="help-text" style="text-size:60%; padding-left: 20px">{{max_choice}}</span>
						</center>
					</div>
				</div>

			</div>
		</li>
	{% endfor %}
</ul>
<center>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addCategory" style="margin:30px">Add Category</button>
</center>

<!-- Add Category Modal -->
<div id="addCategory" class="modal fade" role="dialog" style="height:auto">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Add a category!</h2>
        </div>
        <div class="modal-body">
        <form action="" role="form" method="post">
        	{% bootstrap_form form%}
        	{% csrf_token %}
        	<div style="margin-top: 40px">
        		<center>
        			{% buttons submit='Save Category' %}{% endbuttons %}
        			{% bootstrap_messages %}
        		</center>
        	</div>
        </form>
        </div>
    </div>
  </div>
</div>

<!-- Edit Category Modal -->
<div id="editCategory" class="modal fade" role="dialog" style="height:auto">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Edit your category!</h2>
        </div>
        <div class="modal-body">
        <form action="" role="form" method="post">
        	{% bootstrap_form editForm%}
        	{% csrf_token %}
        	<div style="margin-top: 40px">
        		<center>
        			{% buttons submit='Save Category'%}{% endbuttons %}
        			{% bootstrap_messages %}
        		</center>
        	</div>
        </form>
        </div>
    </div>
  </div>
</div>

<!-- Delete Category Modal -->
<div id="confirmDelete" class="modal fade">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Are you sure about this?</h4>
        </div>
      <div class="modal-body">
        <p>You're about to delete this category and all associated house rankings.</p>
        <center>
            <button type="button" class="btn btn-danger" data-dismiss="modal" style="margin:30px" onclick="deleteCategory($('#confirmDelete').data('id'));">I'm sure!</button>
        </center>
      </div>
      </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{% static "slide.js" %}"></script>
<script src="{% static "debounce.js" %}"></script>
<script>
var jsWeights = {{js_weight|safe}}
var token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
$(".slide").slider({
	formatter: function(value) {
          return jsWeights[value] || "";
	}
});

// Provides user interaction when saving through ajax.
$(".slide").change($.debounce( 700, slideChange ));
function slideChange (slideEvt) {
	var timer;
	clearTimeout(timer);
	var categoryID = $(this).attr("id").toString().replace(/category_/i, "");
	$("#save-status").text("saving...").css("color", "#888");
	$.ajax({
		type: "POST",
		data: {
			csrfmiddlewaretoken: token,
			category: categoryID,
			weight: slideEvt.value.newValue,
			type: "update"
		},
		success: function(data) {
			timer = setTimeout(function(){
			    $("#update_"+categoryID).stop().show();
        		$("#update_"+categoryID).fadeOut(2000);
        		$("#save-status").text("All changes saved.").show().css("color", "#333");
			}, 1500);
		}
	});
};

// Deletes category given an ID
function deleteCategory(deleteID) {
    $.ajax({
		type: "POST",
		data: {
			csrfmiddlewaretoken: token,
			category: deleteID,
			type: "delete"
		},
		success: function(data) {
		    $("#li_"+data.id).remove();
		}
	});
}

// Gets category summary and description, given id.
function editCategory() {
    $.ajax({
        type: "GET",
        data: {
            category: catID
        },
        success: function(data) {
            $('#editCategory input[name="summary"]').val(data.summary);
            $('#editCategory textarea[name="description"]').val(data.description);
        }
    });
}

// Shows edit and delete icons on div mouseenter.
$(".category_row").mouseenter( function() {
    catID = $(this).attr("id").toString().replace(/row_/i, "");
    $("#delete_"+catID).fadeIn("slow");
    $("#delete_"+catID).unbind('click');
    $("#delete_"+catID).click( function(){
        var sum = $(this).parent().text();
        $("#confirmDelete").data("id", catID );
        $("#confirmDelete .btn-danger").text("Delete " + sum);
    });
    $("#edit_"+catID).fadeIn("slow");
    $("#edit_"+catID).unbind('click');
    $("#edit_"+catID).click(function(){
        editCategory();
    });
    $('input[name="catID"]').val(catID);
}).mouseleave( function() {
    var id = $(this).attr("id").toString().replace(/row_/i, "");
    $("#edit_"+id).stop().fadeOut("fast");
    $("#delete_"+id).stop().fadeOut("fast");
});

// Handles sizing of columns and breaks columns at appropriate times.
$(window).on("resize", function () {
	var divWidth = $(".row").width();
	if(divWidth < 570){
		$(".rating").css("width", "90%");
		$(".help-text").hide();
		$(".rating-col").css("min-width", "0");
	}
	else if(divWidth < 750){
		$(".help-text").show();
		$(".rating").css("width", "90%");
		$(".rating-col").css("min-width", "500px");
	}
	else{
		$(".help-text").show();
		$(".rating").css("width", "60%").css("margin", "0 auto");
		$(".rating-col").css("min-width", "500px");
	}
}).resize();
</script>
{% endblock %}