{% extends "core/base.html" %}

{% block body %}
    <h2><strong> Dashboard </strong> </h2>
    <ul class="list-group">
      {% for home in house %}
      <li class="list-group-item">
      	<div class = "row">
				<div class="row-con">
					<div class="col-sm-6">
					   <h4>{{home}}</h4>
					   <p>{{home.address}}</p>
					</div>
					<div class="vcenter">
            			<p><a href="{{home.evaluation_url}}"> Link</a></p>
					</div>
				</div>
			</div>
			</li>
			{% endfor %}
    </ul>
{% endblock %}
