{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "slide.css" %}">
<style>
.slider-selection {
	background: #BABABA;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
	margin-left:-3px;
}
.alert-success {
	margin-top: 30px;
}
ul {
	margin-top:50px;
}
.inner-rating {
	padding:20px 0;
}
</style>
{% endblock %}

{% block body %}
{% csrf_token %}
	<h2><strong> Evaluation for {{house}}</strong> </h2>
	<h4><em>{{house.address}}</em></h4>
	<ul class="list-group">
		{% for category, score in grades %}
			<li class="list-group-item">
				<div class="row">
					<div class="col-sm-6 vcenter">
						<h4>{{category.summary}}</h4>
						{% if category.description %}
							<p>
								{{ category.description }}
							</p>
						{% endif %}
					</div>
					<div class="col-sm-6 vcenter rating">
						<div class="inner-rating" >
							<center>
								<span class="help-text" style="padding-right: 15px">Bad </span>
									<input id="category_{{category.id}}" class='slide' data-slider-id='slide' type="text" data-slider-min="1" data-slider-max="5" data-slider-step="1" data-slider-value="{% if not score %}3{% else %}{{ score }}{% endif %}"/>
								<span class="help-text" style="padding-left: 15px">Good</span>
							</center>
						</div>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
{% endblock %}

{% block scripts %}
<script src="{% static "slide.js" %}"></script>
<script>
	$(".slide").slider({
		formatter: function(value) {
			switch(value){
				case 1: return "Very Bad";
				case 2: return "Bad";
				case 3: return "Average";
				case 4: return "Good";
				default: return "Very Good";
			}
		}
	});
	$(".slide").on("change", function(slideEvt) {
		var categoryID = $(this).attr("id").toString().replace(/category_/i, "");
		console.log(categoryID);
    $.ajax({
      type: "POST",
      data: {
        csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
        category: categoryID,
        score: slideEvt.value.newValue
      },
      success: function(data) {
        console.log(data);
      },
      error: function(xhr, textStatus, errorThrown) {
        alert("Not saved!");
      }
    });
  });
	$(window).on("resize", function () {
		var divWidth = $(".row").width();
		if(divWidth < 400){
			$(".rating").css("width", "90%");
			$(".help-text").hide();
		}
		else if(divWidth < 730){
			$(".help-text").show();
			$(".rating").css("width", "90%");
		}
		else{
			$(".help-text").show();
			$(".rating").css("width", "45%").css("margin", "0 auto");
		}
	}).resize();
</script>
{% endblock %}
