{% extends "core/base.html" %}

{% block body %}
    <h2><strong> Evaluation for {{house}}</strong> </h2>
    <h4><em>{{house.address}}</em></h4>
  	<ul style="margin-top:50px" class="list-group">         
	  	{% for category, score in grades %}
			<li class="list-group-item">
				<div class="row">
					<div class="col-sm-6">
						<h4>{{category.summary}}</h4> 
						<p>
							{% if not category.description %}
								<em>No Description</em>
							{% else %}
								{{ category.description }}
							{% endif %}
						</p>
					</div>
					<div class="col-sm-4"></div>
					<div class="col-sm-2">
						<p>
							{% if not score %}
								<em>No Score</em>
							{% else %}
								{{ score }}
							{% endif %}
					</div>
				</div>
	   	 	</li>
		{% endfor %} 		
  	</ul>
{% endblock %}
