{% extends "core/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}
  Dashboard
{% endblock %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'slide.min.css' %}" />
{% endblock %}

{% block header %}
{% endblock header %}

{% block body %}
  {% if not couples.exists and not pending_couples.exists %}
    <div class="soft-error">
      <p>You have not yet invited any couples.</p>
      <p>Please click the 'Invite Couple' button below to invite couples.</p>
    </div>
  {% else %}
    <h1 class="header"><strong>Registered Homebuyers</strong></h1>
    <ul class="list-group">
      {% for couple in couples %}
        <li class="list-group-item couple_row">
          <div class="row" id="row_{{couple.id}}">
            <div class="row-con">
              <div class="col-sm-6">
                {% for homebuyer in couple.homebuyer_set.all %}
                  <h4>{{homebuyer}}</h4>
                {% endfor %}
              </div>
              <div class="hbdash-center">
                <center>
                  <a class="report" href="{{couple.report_url}}">Report</a>
                  &nbsp;
                  <a href="#" id="home_{{couple.id}}" class="add-home" data-toggle="modal" data-target="#AddHomeModal">Add Home</a>
                  <a href="mailto:{{couple.emails}}" target="_blank" class="mail" style="font-size:28px;">
                    <span id="mail_{{couple.id}}" class="glyphicon glyphicon-envelope vcenter icon" ></span>
                  </a>
                </center>
              </div>
            </div>
          </div>
        </li>
      {% empty %}
        <li class="list-group-item couple_row soft-error">
          No couples have registered
        </li>
      {% endfor %}
    </ul>
    <br>

    <h1 class="header"><strong>Invited Homebuyers</strong></h1>
    <ul class="list-group">
      {% for pending_couple in pending_couples %}
        <li class="list-group-item couple_row">
          <div class="row" id="row_{{pending_couple.id}}">
            <div class="row-con">
              <div class="col-sm-6">
                {% for pending_homebuyer in pending_couple.pendinghomebuyer_set.all %}
                  <h4>
                    {{pending_homebuyer}}
                    {% if not pending_homebuyer.registered %}
                      <span style="vertical-align:middle;" class="red-alert">*</span>
                    {% endif %}
                  </h4>
                {% endfor %}
              </div>
              <div class="hbdash-center">
                <center>
                  <span style="visibility:hidden;">Report</span>
                  <a href="mailto:{{pending_couple.emails}}" target="_top" class="mail" style="font-size:28px;">
                    <span id="mail_{{pendingcouple.id}}" class="glyphicon glyphicon-envelope vcenter icon" ></span>
                  </a>
                </center>
              </div>
            </div>
          </div>
        </li>
      {% empty %}
        <li class="list-group-item couple_row soft-error">
          No couples with pending invitations
        </li>
      {% endfor %}
    </ul>

  {% endif %}

  {% if pending_couples.exists %}
    <div class="red-alert">* Unregistered</div>
  {% endif %}
  <center>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inviteCouple">Invite Couple</button>
  </center>

  <!-- Invite Couple Modal -->
  <div id="inviteCouple" class="modal fade modalHeight" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h1 class="modal-title">Invite a couple</h1>
        </div>
        <div class="modal-body">
          <form action="" role="form" method="post">
            {% bootstrap_formset invite_formset %}
            {% csrf_token %}
            <center>
              {% buttons submit='Invite' %}{% endbuttons %}
            </center>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Home Modal -->
<div id="AddHomeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Add Home" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Add Home Window" aria-hidden ="true">&times;</button>
                <h1 class="modal-title">Add Home</h1>
            </div>
            <div class="modal-body">
                <form method="post" action="" role="form" class="uniForm">
                {% bootstrap_form form %}
                {% csrf_token %}
                <center>{% buttons submit='Save Home' %}{% endbuttons %}</center>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="{% static "base.js" %}"></script>
  <script>
      $(document).ready(function() {
          // Show modal on page load if there were invite submission errors
          var $errorMessages = $('#inviteCouple .alert.alert-danger');
          var $helpBlocks = $('#inviteCouple span.help-block');

          if ($errorMessages.length || $helpBlocks.length) {
              $('#inviteCouple').modal();
          }
      });

      $(".add-home").click(function() {
        var id = $(this).attr("id").toString().replace(/home_/i, "");
        $("#AddHomeModal input[name='id']").val(id);
      });
  </script>
{% endblock %}
