{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block style %}
<style>
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
	margin-left:-3px;
}
</style>
{% endblock %}

{% block body %}
    <h2><strong> Dashboard tst</strong> </h2>
    <ul class="list-group">
        {% for couple, homebuyers, isPending in couples %}
        <li class="list-group-item">
			<div class="row">
				<div class="col-sm-6 vcenter">
				    {% for homebuyer in homebuyers %}
				        <h4>
				            {{homebuyer}}
				            {% if isPending %} (*) {% endif %}
				        </h4>
                        <a href="mailto:{{homebuyer.email}}" target="_top">Email</a>
	                {% endfor %}
				</div>
				<div class="col-sm-4 vcenter">
				    Right Holding Block
				</div>
				<div class="col-sm-2 vcenter">
					<a href="homebuyerreport">Report</a>
				</div>
			</div>
		</li>
		{% endfor %}
    </ul>
     
    <center>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#inviteCouple" style="margin:30px">Invite Couple</button>
    </center>
    
    <!-- Invite Couple Modal -->
    <div id="inviteCouple" class="modal fade" role="dialog" style="height:auto">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">Invite a couple</h2>
            </div>
            <div class="modal-body">
            <form action="" role="form" method="post">
            	{% bootstrap_form form%}
            	{% csrf_token %}
            	<div style="margin-top: 40px">
            		<center>
            			{% buttons submit='Invite' %}{% endbuttons %}
            			{% bootstrap_messages %}
            		</center>
            	</div>
            </form>
            </div>
        </div>
      </div>
    </div>
{% endblock %}