{% extends "core/base.html" %}

{% block style %}
<style>
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
	margin-left:-3px;
}
</style>
{% endblock %}

{% block body %}
    <h2><strong> Dashboard </strong> </h2>
    <ul class="list-group">
        {% for couple, homebuyers in couples %}
        <li class="list-group-item">
			<div class="row">
				<div class="col-sm-6 vcenter">
				    {% for homebuyer in homebuyers %}
				        <h4>{{homebuyer}}</h4>
                        <a href="mailto:{{homebuyer.email}}" target="_top">Email</a>
	                {% endfor %}
				</div>
				<div class="col-sm-6 vcenter">
				    Right Holding Block
				</div>
			</div>
		</li>
		{% endfor %}
    </ul>
{% endblock %}