{% extends "core/base.html" %}
{% load staticfiles %}

{% block title %}
  Report
{% endblock %}

{% block header %}
   <h1><strong>Report for {{ homebuyer1.full_name }} and {{ homebuyer2.full_name }}</strong></h1>
{% endblock header %}

{% block body %}

    <div class="container">
        <div class="tabs">
            <!--<ul class="tab-links">-->
                <!--<li class="active"><a href="#catImport">Category Importance</a></li>-->
                <!--<li><a href="#weighting">Weighting</a></li>-->
                <!--<li><a href="#categoriesPerHouse">Categories Per House</a></li>-->
                <!--<li><a href="#housesPerCat">Houses Per Category</a></li>-->
                <!--<li><a href="#finalGrade">Final Grade</a></li>-->
                <!--<li><a data-toggle="tab6" href="#numbers">Numbers</a></li>-->
            <!--</ul>-->
        </div>

        <div class="tab-content">

            <!--CATEGORY IMPORTANCE!!-->
            <div id="catImport" class="tab active">
                <div class="row">
                    <h2>Shared Category Importance</h2>
                    <h5>See what is most important in a house.</h5>
                    <div class="row">
                        <div class="col-lg-6">
                            <div><canvas id="PieChart" style="height:400px; width: 100%"></canvas></div>
                        </div>
                        <div class="col-lg-3">
                            <div id="lineLegend"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--WEIGHTING!!-->
            <div id="weighting" class="tab">
                <div class="row">
                    <h2>Category Weighting</h2>
                    <h5>Compare the importance of all housing categories for each homebuyer.</h5>
                    <div class="row">
                        <div class="col-lg-10"><canvas id="myChart" style="height:400px; width: 100%"></canvas></div>
                        <div class="col-lg-2 ">
                            <div id="barLegend"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--CATEGORIES PER HOUSE!!-->
            <div id="categoriesPerHouse" class="tab">
                <h2>Shared House Data</h2>
                <h5>See which categories scored highest/lowest for each house.</h5>
                {% for house, category in houseData %}
                <div class="row">
                    <h5>{{ house }}</h5>
                    <div class="col-lg-10"><canvas id="{{house}}bar" style="height:400px; width: 100%"></canvas></div>
                </div>
                {% endfor %}

            </div>

            <!--HOUSES PER CATEGORY!!-->
            <div id="housesPerCat" class="tab">
                <h2>Shared Category Data</h2>
                <h5>See which houses scored highest/lowest for each category.</h5>
                <div class="row">
                {% for category, houses in categoryData %}
                    <div class="col-lg-3">
                        <div class="col-lg-10"><center>
                            <h5>{{ category }}</h5>
                            <canvas class="row-height" id="{{category}}bar"></canvas>
                        </center></div>
                    </div>
                {% endfor %}
                </div>
            </div>

            <!--FINAL GRADE!!-->
            <div id="finalGrade" class="tab">
                <h2>Total Score</h2>
                <h5>After processing all available data, see which home scored highest.</h5>
                <div class="row">
                    <div class="col-lg-4">
                        <canvas id="finalGradeChart" style="height:400px; width: 100%"></canvas>
                    </div>
                </div>
            </div>

            <!--NUMBERS TAB!!-->
            <div id="numbers" class="tab">
                <h3>NUMBERS</h3>
                <p>For the nerd within. Read though all the data in its raw, numeric format.</p>

                <h2>Weighting</h2>
                {% for category, weight1, weight2 in categoryImportance %}
                    <h4>{{category}}</h4>
                    <h5>{{weight1}} | {{weight2}}</h5>
                {% endfor %}

                <h2>Homebuyer Pie Chart Data</h2>
                {% for homebuyer, weights in homebuyerPies %}
                    <h4>{{homebuyer}}</h4>
                    <h5>{{weights}}</h5>
                {% endfor %}

                <h2>Category Data</h2>
                {% for category, homes in categoryData %}
                    <h4>{{category}}</h4>
                    {% for home, score in homes %}
                    <h5>{{home}} --> {{score}}</h5>
                    {%  endfor %}
                {% endfor %}

                <h2>Total Score</h2>
                {% for key, value in totalScore.items %}
                    <h4>{{key}}</h4>
                    {{value}}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block scripts %}
  <script src="{% static 'Chart.min.js' %}"></script>
  <script src="{% static 'legend.js' %}"></script>
  <script>
      function encode(string) {
          return btoa(string).replace(/=/g, '_');
      }

      var catLabel = [{% for category, weight1, weight2 in categoryImportance %}'{{category}}'{% if not forloop.last %},{% endif %}{% endfor %}];
      var data1 = [{% for category, weight1, weight2 in categoryImportance %}{{weight1}}*100{% if not forloop.last %},{% endif %}{% endfor %}];
      var data2 = [{% for category, weight1, weight2 in categoryImportance %}{{weight2}}*100{% if not forloop.last %},{% endif %}{% endfor %}];
      var data = {
          labels: catLabel,
          datasets: [
              {
                  label: "{{ homebuyer1.full_name }}",
                  fillColor: "rgba(155, 206, 125, 0.9)",
                  strokeColor: "rgba(155, 206, 125, 0.8)",
                  highlightFill: "rgba(155, 206, 125, 1.0)",
                  highlightStroke: "rgba(217, 95, 73, 1)",
                  data: data1
              },
              {
                  label: "{{ homebuyer2.full_name }}",
                  fillColor: "rgba(99, 155, 241, 0.9)",
                  strokeColor: "rgba(99, 155, 241, 0.8)",
                  highlightFill: "rgba(99, 155, 241, 1.0)",
                  highlightStroke: "rgba(237, 194, 51, 1)",
                  data: data2
              }
          ]
      };
      var ctx = document.getElementById("myChart").getContext("2d");
      var myBarChart = new Chart(ctx).Bar(data, {
          scaleOverride : true,
          scaleSteps : 10,
          scaleStepWidth : 1,
          scaleStartValue : 0,

          barShowStroke: false,
          scaleShowGridLines: false,
          barValueSpacing : 20,
          showTooltips: false,
      });
      legend(document.getElementById("barLegend"), myBarChart);

      var pie = [
      {% for color, category, weight in pieAve %}
          {
              value : '{{weight}}',
              color : '{{color}}',
              label : '{{category}}'
          }{% if not forloop.last %},{% endif %}
      {% endfor %}
      ]

      var ctx = document.getElementById("PieChart").getContext("2d");
      var pieChart = new Chart(ctx).Pie(pie,{
          barShowStroke: false,
          scaleShowGridLines: false,
          barValueSpacing : 20,
          showLabels: true
      });
      legend(document.getElementById("lineLegend"), pie);

      var houseLabel = [
      {% for house, score, color in categoryData.0.1 %}
          "{{house}}".substring(0, 10){% if not forloop.last %},{% endif %}
      {% endfor %}
      ]

      {% for category, houses in categoryData %}
          var Score{{forloop.counter0}} = [{% for house, score, color in houses %}({{ score }} / {{ largestScore }}*10){% if not forloop.last %},{% endif %}{% endfor %}];
          var Data{{forloop.counter0}} = {
          labels: houseLabel,
          datasets: [
              {
                  label: "{{ category }}",
                  fillColor: "rgba(217, 95, 73, 0.8)",
                  strokeColor: "rgba(217, 95, 73, 0.8)",
                  highlightFill: "{{houses.0.2}}",
                  highlightStroke: "rgba(217, 95, 73, 1)",
                  data: Score{{forloop.counter0}}
              }
          ]
      };
      {% endfor %}

      {% for category, houses in categoryData %}
          var brx{{forloop.counter0}} = document.getElementById("{{category}}bar").getContext("2d");
          var Chart{{forloop.counter0}} = new Chart(brx{{forloop.counter0}}).Bar(Data{{forloop.counter0}}, {
              scaleOverride : true,
              scaleSteps : 1,
              scaleStepWidth : 10,
              scaleStartValue : 0,

              barShowStroke: false,
              scaleShowGridLines: false,
              barValueSpacing : 5,
              showTooltips: false
          });

          Chart{{forloop.counter0}}.datasets[0].bars[0].fillColor = "{{ pieAve.0.0 }}"; //bar 1
          Chart{{forloop.counter0}}.datasets[0].bars[1].fillColor = "{{ pieAve.1.0 }}"; //bar 2
          Chart{{forloop.counter0}}.datasets[0].bars[2].fillColor = "{{ pieAve.2.0 }}"; //bar 3
          Chart{{forloop.counter0}}.datasets[0].bars[3].fillColor = "{{ pieAve.3.0 }}"; //bar 4
          Chart{{forloop.counter0}}.datasets[0].bars[4].fillColor = "{{ pieAve.4.0 }}"; //bar 5
          Chart{{forloop.counter0}}.datasets[0].bars[5].fillColor = "{{ pieAve.5.0 }}"; //bar 6
          Chart{{forloop.counter0}}.update();
      {% endfor %}

      {% for house, categories in houseData %}
          var houseScore{{forloop.counter0}} = [{% for category, score, color in categories %}({{ score }} / {{ largestScore }}*10){% if not forloop.last %},{% endif %}{% endfor %}];
          var houseData{{forloop.counter0}} = {
          labels: catLabel,
          datasets: [
              {
                  label: "{{ house }}",
                  {% for h, s, c in categoryData.0.1 %}
                      {% if h == house %}
                          fillColor: "{{c}}",
                      {% endif %}
                  {% endfor %}
                  strokeColor: "rgba(217, 95, 73, 0.8)",
                  highlightFill: "rgba(217, 95, 73, 1)",
                  highlightStroke: "rgba(217, 95, 73, 1)",
                  data: houseScore{{forloop.counter0}}
              }
          ]
      };
      {% endfor %}

      {% for house, categories in houseData %}
          var houseBrx{{forloop.counter0}} = document.getElementById("{{house}}bar").getContext("2d");
          var houseChart{{forloop.counter0}} = new Chart(houseBrx{{forloop.counter0}}).Bar(houseData{{forloop.counter0}}, {
              scaleOverride : true,
              scaleSteps : 10,
              scaleStepWidth : 1,
              scaleStartValue : 0,

              barShowStroke: false,
              scaleShowGridLines: false,
              barValueSpacing : 20,
              showTooltips: false
          });

      {% endfor %}

      var finalLabel = [{% for home, score in totalScore.items %}'{{home}}'{% if not forloop.last %},{% endif %}{% endfor %}];
      var finalData = [{% for home, score in totalScore.items %}{{score}}{% if not forloop.last %},{% endif %}{% endfor %}];
      var fData = {
          labels: finalLabel,
          datasets: [
              {
                  label: "Average",
                  fillColor: "rgba(52, 152, 219,0.9)",
                  strokeColor: "rgba(52, 152, 219,0.8)",
                  highlightFill: "rgba(52, 152, 219,1.0)",
                  highlightStroke: "rgba(217, 95, 73, 1)",
                  data: finalData
              }

          ]
      };

      var finalbrx = document.getElementById("finalGradeChart").getContext("2d");
      var finalGrade = new Chart(finalbrx).Bar(fData, {
          barShowStroke: false,
          scaleShowGridLines: false,
          barValueSpacing : 20,
          showTooltips: false
      });

  </script>
{% endblock %}
