img#login-loading {
    display: none;
}

body.modal-open #main-content {
    opacity: 0.1;
}

#login-form.loading button {
    opacity: 0.3;
    pointer-events: none;
}

#login-form.loading img#login-loading {
    display: inline;
    height: 16px;
    width: 16px;
    margin-right: 8px;
}
