{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}
  Logged out
{% endblock %}

{% block style %}
    <style>
        div.row {
            text-align: center;
        }
    </style>
{% endblock %}

{% block header %}
  <div class="col-sm-2"></div>
  <div class="col-sm-8 header">
    <h1><strong>Thank you for using {{ app_name }}</strong></h1>
  </div>
  <div class="col-sm-2"></div>
{% endblock header %}

{% block body %}
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 header" >
      Redirecting...
    </div>
    <div class="col-sm-2"></div>
  </div>
{% endblock %}

{% block scripts %}
  <script>
      setTimeout(function() {
          window.location = '/';
      }, 3000);
  </script>
{% endblock scripts %}
