{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block body %}
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h2 style="margin-top:50px"><strong> Login </strong> </h2>
      <div style="margin: 10px 0" class="well" >
        <form style="margin-bottom:20px" action="{% url 'auth_login' %}" role="form" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="pull-right" style="margin-top: 40px">
            {% buttons submit='Log in' %}{% endbuttons %}
          </div>
        </form>
      </div>
      <div style="margin-top:100px; text-align: center;">
          ...or <a href="{% url 'realtor-signup' %}">Create an account</a>
          as a Realtor.
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
{% endblock %}
