{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block body %}
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h2 class="login-text">Login</h2>
      {% bootstrap_messages %}
      <div class="well-alt" >
        <form class="login-form" action="{% url 'auth_login' %}" role="form" method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="pull-right alert-success">
            {% buttons submit='Log in' %}{% endbuttons %}
          </div>
        </form>
      </div>
      <div class="create-text">
          ...or <a href="{% url 'realtor-signup' %}">Create an account</a>
          as a Realtor.
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
{% endblock %}
