{% extends "core/base.html" %}
{% load bootstrap3 %}

{% block title %}
  Login
{% endblock %}

{% block header %}
  

{% endblock header %}

{% block main %}
  <div id="bg-img" class="img-responsive">

    {{ block.super }}

  </div>
    <h2 class="firrstheader"> Header</h2>
{% endblock main %}

{% block body %}
  <div class="row" id="heading">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      {% bootstrap_messages %}
      <div class="col-sm-2"></div>
    <h1 class="tagline">We make finding the right home easy.</h1>

  <div class="col-sm-2"></div>
      <center>
       <button type="button" class="registerbutton btn btn-primary" data-toggle="modal" data-target="#SignupModal">Register</button>
      </center>
    <div class="create-text">
          ...or <a href="#" data-toggle="modal" data-target="#modal-login">Login</a>
          to an existing account
      </div>
    </div>
  </div>

<div id="SignupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Signup" aria-hidden="true">
    <div class="modal-dialog">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Sign up window" aria-hidden ="true">&times;</button>
                <h4 class = "modal-title">Welcome</h4>
            </div>
            <div class="modal-body">
                <form class="login-form" action="" role="form" method="post">
              {% csrf_token %}
              {% bootstrap_form signup_form %}
               <center>
                  {% buttons submit='Registar' %}{% endbuttons %}
                </center>
            </form>
          </div>
        </div>
    </div>
    </div>
{% endblock %}
