/* common */

html, body, #main-content {
	height: 100%;
}

#main-content {
    overflow-y: auto;
    overflow-x: hidden;
}

#main-content, .modal-content {
    background-color: #EEE;
}

#bg-img #main-content {
    background-color: inherit;
}

.bs-blue-background {
    background-color: rgb(40, 96, 144);
}

.bs-blue, #main-content .header, .modal-content label, .modal-header {
    color: rgb(40, 96, 144);
}

nav.navbar * {
    color: white !important;
}

.navbar-default .navbar-toggle span.icon-bar {
    background-color: white;
}

#main-content .header, .modal-header {
    text-align:center;
}

.modal-body .header {
    margin-bottom: 24px;
}

ul.list-group {
	padding-top:30px;
}
#heading {
	padding-bottom: 30px;
}
.icon {
	display:none;
	padding-left: 20px;
	font-size: 90%;
}
.ok {
	color: green;
}
.delete {
    color: #A94431;
    cursor: pointer;
}
.edit {
    color: #31708f;
    cursor: pointer;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
	margin-left:-3px;
}
.inner-rating {
	padding:20px 0;
	padding-left:10%
}
.slider-selection {
	background: #BABABA;
}
#helptext-L{
	padding-right: 15px;
}
#helptext-R{
	padding-left: 15px;
}
button.btn, a.btn {
	margin:20px;
}
button.close{
	margin:auto;
}
.modalHeight{
	height:auto;
}
.row-con{
   display:table;
   width:100%;
}
.hbdash-center {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    width: 30%;
}
.signUpHeader{
	margin-top:50px;
}

.http-error {
    font-style: bold;
}

.http-error, .soft-error {
    font-style: italic;
    text-align: center;
}

.modal-content button, #main-content button, #main-content .dashboard-buttons a {
    font-size: x-large;
}

/* categories */

.rating-col {
	min-width: 500px;
}
.summary-col{
	min-width: 150px;
}
.tooltip-main.top.in {
	z-index:1 !important;
}
#catRating-out{
	padding-left:10%
}

/*realtorHome */

.email {
    color: #cccccc;
    display: none;
}
.email:hover {
	color: #337ab7;
}
a.mail {
	text-decoration: none;
}
.report-container {
 min-width: 300px;
}
.couple-container {
	min-width: 400px;
}
.red-alert {
	color: #e74c3c;
}

/* realtorSignup */

#regForm {
	margin: 10px 0;
}

/* login */

.well-alt {
	min-height: 20px;
    padding: 19px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    margin: 10px 0;
    color:#e4e4e4;
}
.login-text{
	margin-top:50px;
	margin-left:15px;
	font-style: bold;
	color:#e4e4e4;
}
.login-form{
	margin-bottom:20px;
}
.create-text{
	margin-top:100px;
	text-align: center;
	color:#e4e4e4;
}
.create-text a{
	color:#66CCFF;
}
.login-margin {
	margin-top: 30px;
}
.login-margin button{
	background-color:#e4e4e4;
	color:#696969;
	border:1px solid #e4e4e4;
}

/* base */
.navbar-alt {
	position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-top:20px;
    padding-bottom:20px;
}
.navbar-alt a{
	color:#696969;
	font-size:150%;
}
.nav a:hover{
		background-color:transparent !important;
}
.nav a{
		background-color:transparent !important;
}

#bg-img {
  background: url(images/homepage_house.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:inherit;
  height:100%;
}
