/* common */

ul.list-group {
	padding-top:30px;
}
#heading {
	padding-bottom: 30px;
}
.icon {
	display:none;
	padding-left: 20px;
	font-size: 90%;
}
.ok {
	color: green;
}
.delete {
    color: #A94431;
    cursor: pointer;
}
.edit {
    color: #31708f;
    cursor: pointer;
}
.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
	margin-left:-3px;
}
.inner-rating {
	padding:20px 0;
	padding-left:10%
}
.slider-selection {
	background: #BABABA;
}
#helptext-L{
	padding-right: 15px;
}
#helptext-R{
	padding-left: 15px;
}
button{
	margin:30px;
}
button.close{
	margin:auto;
}
.modalHeight{
	height:auto;
}
.row-con{
   display:table;
   width:100%;
}
.hbdash-center {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    width:50%;
}
.alert-success {
	margin-top: 30px;
}
.signUpHeader{
	margin-top:50px;
}

/* categories */

.rating-col { 
	min-width: 500px; 
}
.summary-col{ 
	min-width: 150px; 
}
.tooltip-main.top.in { 
	z-index:1 !important; 
}
.close { 
	z-index: 3000 !important; 
}
#catRating-out{
	padding-left:10%
}

/*realtorHome */

.email {
    color: #cccccc;
    display: none;
}
.email:hover { 
	color: #337ab7;
}
a.mail { 
	text-decoration: none; 
}
.report-container {
 min-width: 300px; 
}
.couple-container { 
	min-width: 400px; 
}
.red-alert { 
	color: #e74c3c; 
}

/* realtorSignup */

#regForm {
	margin: 10px 0;
}

/* login */

.well-alt {
	min-height: 20px;
    padding: 19px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    margin: 10px 0
}
.login-text{
	margin-top:50px; 
	margin-left:15px;
	font-style: bold;
}
.login-form{
	margin-bottom:20px;
}
.create-text{
	margin-top:100px; 
	text-align: center;
}

/* base */
.navbar-alt {
	position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-top:20px;
    padding-bottom:20px;
}
.navbar-alt a{
	color:black;
	font-size:150%;
}
#bg-img {
  background: white url(images/homepage_sunset.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:inherit;
}
